{% load static %}
<!DOCTYPE html>
<html onclick="set_focus();" >
    <head>
        <title>Embed</title>
        <link rel="stylesheet" href="{% static 'main_player/index.css' %}" />
    </head>
    <body onload="set_focus();">
        <main>
            <div id="content">
                <h1 id="title_main">Placeholder Title 2</h1>
                <video id="video_frame" controls tab-index='0'>
                    <!--
                    <source src={% static 'nogi.mp4' type='video/mp4' %}>
                    -->
                    <source src={% static 'yurucamp01.mp4' type='video/mp4' %}>
                    <track kind="subtitles" srclang="jp" label="Japanese"
                        src={% static 'yuru_camp_ep1.srt' %} default>
                    Your browser does not support the video tag. 
                </video>
            </div>
            <div id="settings">
                <form>
                    <input type="button" onclick="" value="Subs--" />
                    <input type="text" id="offset_num" value="0" />
                    <input type="button" onclick="" value="Subs++" />
                </form>
            </div>
        </main>
    </body>
</html>

<script>
    function set_focus()
    {
        document.getElementById("video_frame").focus()
    }
</script>

<script src={% static 'main_player/videosub.js' %}></script>
