{% load static %}
<!DOCTYPE html>
<html onclick="set_focus();" >
    <head>
        <title>Embed</title>
        <link rel="stylesheet" href="{% static 'main_player/index.css' %}" />
    </head>
    <body onload="set_focus();">
        <main>
            <div id="content">
                <video id="video_frame" controls tab-index='0'>
                    <!--
                    <source src={% static 'nogi.mp4' type='video/mp4' %}>
                    -->
                    <source src={% static '200817.mp4' type='video/mp4' %}>
                    <track kind="subtitles" srclang="jp" label="Japanese"
                        src={% static '200817.srt' %} default>
                    Your browser does not support the video tag. 
                </video>
            </div>
            <div id="settings">
                <form>
                    <input type="button" onclick="decrement_value();"
                    value="Sub Delay" />
                    <input type="text" id="offset_num" value="0" />
                    <input type="button" onclick="increment_value();"
                    value="Sub Rush" />
                </form>
            </div>
        </main>
    </body>
</html>

<script>
    function set_focus()
    {
        document.getElementById("video_frame").focus();
    }
</script>

<script src={% static 'main_player/videosub.js' %}></script>

<script>
    function increment_value()
    {
        var value = parseFloat(document.getElementById('offset_num').value, 10);
        value++;
        document.getElementById('offset_num').value = value;
    }

    function decrement_value()
    {
        var value = parseFloat(document.getElementById('offset_num').value, 10);
        value--;
        document.getElementById('offset_num').value = value;
    }
</script>
