body {
    background-color: rgb(20, 20, 20);
    color: rgb(250, 250, 250);
    font-family: monospace;
}

main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;

}

#content {
    padding-top: 5%;
}

#video_iframe {
    width: 100% !important;
    height: 720px !important;
}

#subtitle {
    font-size: 22px; 
}
